src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

<flow name="bussinesLogicFlow" doc:id="d617bfbe-587a-4485-b933-215251bb9109" >
		<batch:job jobName="contactBroadcastBatch" doc:id="0364eae5-6458-43c2-836a-7e996a88fd72" >
			<batch:process-records >
				<batch:step name="getContactInBStep" doc:id="cbd27632-773d-423f-87c2-b07a8e57431a" >
                    <salesforce:query doc:name="Query contact in Salesforce B" doc:id="573f94bc-79b9-4219-b6bd-65200b61b7a2" config-ref="Salesforce_Sfdc_B_config" target="IdInSF" >
						<salesforce:salesforce-query >SELECT Id, LastModifiedDate FROM Contact WHERE Email = ':email'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	email : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query>
                    <ee:transform doc:name="Push Id to payload" doc:id="5e6ecafa-54e0-4014-a786-899ba03a102f" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - "Id" ++ {
	(Id: vars.IdInSf[0].Id) if vars.IdInSf[0].Id != null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="createAccountStep" doc:id="52d0ec57-248d-4190-8bc8-013e0ab9cf7e" acceptExpression="#['${account.sync.policy}' == 'syncAccount' and payload.Account != null]">
					<salesforce:query doc:name="Query account in Salesforce B" doc:id="e3e41eb8-00b9-47bd-9717-e1513e6a79b1" config-ref="Salesforce_Sfdc_B_config" target="accountId" >
						<salesforce:salesforce-query >SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Account.Name
}]]]></salesforce:parameters>
					</salesforce:query>
					<ee:transform doc:name="Save record payload" doc:id="a6285fc1-69c9-4034-8baf-6a60e6041938" >
						<ee:message />
						<ee:variables >
							<ee:set-variable variableName="recordPayload" ><![CDATA[%dw 2.0
output application/java
---
payload ++ {AccountId : vars.accountId.Id}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<choice doc:name="Should be a new Account created?" doc:id="d35bb668-fc93-4cda-9350-a1a339e3a6e9" >
						<when expression="#[vars.accountId.Id == null]" >
							<ee:transform doc:name="Transform payload to list of Account maps" doc:id="81cf7def-04bc-4039-b3d3-d87c534c6377" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	AccountNumber: payload.Account.AccountNumber,
	Description : payload.Account.Description,
	Name: payload.Account.Name,
	NumberOfEmployees : payload.Account.NumberOfEmployees as Number,
	Industry: payload.Account.Industry
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create type="Account" doc:name="create Account in Salesforce Instance B" doc:id="c6e32c91-cecd-4831-a08f-af616eb20f0e" config-ref="Salesforce_Sfdc_B_config" />
							<ee:transform doc:name="Push Id to record payload" doc:id="592c3f5d-8216-4f91-bd9d-285d17688559" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload ++ { AccountId : payload.items.Id }]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</when>
						<otherwise >
							<logger level="INFO" doc:name="Log - Existing Account Id already set!" doc:id="8388541c-b000-4c8e-be6e-1fcb7053bbae" message="Log - Existing Account Id already set!" />
							<ee:transform doc:name="record payload" doc:id="1473cc46-f3e5-418f-97d4-26c6d6a3f28c" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="upsertAccountStep" doc:id="5a44415a-eea0-49e6-a5f4-841e70e57094" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8679145f-2cc7-4c92-868f-fb19e38d4b96" size="${page.size}">
						<ee:transform doc:name="Prepare payload for upsert" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map
{
	Id: $.Id,
	Email: $.Email,
	Description: $.Description,
	FirstName: $.FirstName,
	LastName: $.LastName,
	MailingCountry: $.MailingCountry,
	Title: $.Title,
	AccountId: $.AccountId
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:create-job doc:name="Upsert job - Contacts in Salesforce B" doc:id="83103417-0bef-4274-bee1-8f4eca45667d" target="jobInfo" config-ref="Salesforce_Sfdc_B_config" operation="upsert" type="Contact">
                            <salesforce:create-job-request ><![CDATA[#[externalIdFieldName: "Id"]]]></salesforce:create-job-request>
                        </salesforce:create-job>
                        <salesforce:create-batch doc:name="Upsert batch - Contacts in Salesforce B" doc:id="12d1386c-2c33-4614-8f17-0e44b22bce5d" jobInfoBatch="#[vars.jobInfo]" config-ref="Salesforce_Sfdc_B_config"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
							</ee:message>
						</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished: #[payload]" />

			</batch:on-complete>
		</batch:job>
	</flow>
    <flow name="mainFlow" doc:id="59745f37-c34d-40d3-a182-ac59c43dad77" >
        <flow-ref doc:name="bussinesLogicFlow" doc:id="0e311ff1-1df7-4fc2-b0f2-a1d8fba717f7" name="bussinesLogicFlow"/>
        <error-handler >
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="31e60acb-9e2e-47d4-8612-280827f49e9b" type="ANY">
                <flow-ref doc:name="errorHandlingFlow" doc:id="1cc1f3d5-ab06-4d12-ad42-7154c92bde34" name="errorHandlingFlow"/>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
