src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
version="EE-3.5.0" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="businessLogicFlow" doc:name="businessLogicFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30000"/>
            <sfdc:get-updated-objects config-ref="SalesforceA" type="Contact" initialTimeWindow="120" doc:name="Fetch updated/created Contacts">
                <sfdc:fields>
                    <sfdc:field>Email</sfdc:field>
                    <sfdc:field>Id</sfdc:field>
                    <sfdc:field>FirstName</sfdc:field>
                    <sfdc:field>LastName</sfdc:field>
                    <sfdc:field>MailingCountry</sfdc:field>
                </sfdc:fields>
            </sfdc:get-updated-objects>
        </poll>
        <logger message="#[payload]" level="INFO" doc:name="Log Contacts created/updated"/>
        <set-variable variableName="filteredContactList" value="#[new java.util.ArrayList()]" doc:name="set filteredContactList variable"/>
        <foreach doc:name="For Each">
        	<expression-filter expression="#[ payload.get('Email') != null &amp;&amp; ['United States','US','U.S.'].contains(payload.get('MailingCountry')) ]" doc:name="Filter if Cotact has no Email and if the Mailing Contry is either U.S., US or United States"/>
   	        <enricher source="#[payload]" target="#[flowVars['idInB']]" doc:name="Store in variable idInB">
        		<sfdc:query-single config-ref="SalesforceB" query="SELECT Id FROM Contact WHERE Email = '#[payload['Email']]'" doc:name="Check contact in org B"/>
        	</enricher>
        	<expression-component doc:name="Setting ID for Upsert"><![CDATA[if (flowVars['idInB'] instanceof NullPayload) {
        		payload.remove('Id')
     		} else {
       			payload.put('Id',flowVars['idInB'].get('Id'))}]]>
  			</expression-component>
  			<expression-component doc:name="Add Contact to filteredContactList"><![CDATA[filteredContactList.add(payload)]]></expression-component>
        </foreach>
        <set-payload value="#[filteredContactList]" doc:name="Set filteredContactList as Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Log Contacts to be created/updated"/>
        <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="Contact" doc:name="Create/Update Contacts in Org B">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>
    </flow>

</mule>
